// ANIMATIONS
@keyframes shadowColor {
  0% {
    filter: drop-shadow(0 0 0 yellow);
    border-color: white;
  }
  25% {
    filter: drop-shadow(0 0 0 blue);
  }
  50% {
    filter: drop-shadow(0 0 0 green);
  }
  75% {
    filter: drop-shadow(0 0 0 orange);
  }
  100% {
    filter: drop-shadow(0 0 0 red);
    border-color: yellow;
  }
}

@keyframes simpleShadow {
  0% {
    filter: drop-shadow(0 0 0 #dbdbdb);
  }
  25% {
    filter: drop-shadow(0 0 0 #888);
  }
  50% {
    filter: drop-shadow(0 0 0 #cbcbcb);
  }
  75% {
    filter: drop-shadow(0 0 0 #999);
  }
  100% {
    filter: drop-shadow(0 0 0 #222);
  }
}

@keyframes pulseAnimation {
  from {
    transform: scale(.99);
  }
  to {
    transform: scale(1.01);
  }
}


@keyframes fadeUp {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes borderPulse {
  from {
    border-radius: var(--space-md);
  }
  to {
    border-radius: var(--space-lg);
  }
}

@keyframes teeterAnimation {
  0% {
    transform: rotate(0 deg);
  }
  100% {
    transform: rotate(0 deg);
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


@keyframes wavyAnimationBkwd {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

@media(--lg) {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-40rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }  
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

