.doge-history {
  &_wrapper {
    width: 100%;
    padding: 0 var(--space-md) var(--space-md);
    z-index: 200;
    position: relative;
    margin: 0 auto;
    max-width: 76rem;
    animation: fadeUp 650ms var(--ease);
    animation-fill-mode: both;
    display: grid;
    grid-row-gap: var(--space-md);
    p {
      padding-bottom: var(--space-lg);
      line-height: 1.2;
      color: var(--blue);
      font-size: var(--text-02);
      &:last-child {
        padding-bottom: 0;
      }
    }
    h1 {
      margin: var(--space-sm) auto;
      text-align: center;
    }
  }
  &_module {
    position: relative;
    &.copy {
      background-color: var(--white);
      filter: var(--black-shadow);
      border-radius: 3rem;
      padding: var(--space-md);
    }
    &.video {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: visible;
      div:first-child,
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
  &_images {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: var(--space-sm);
    width: 100%;
    position: relative;
    filter: var(--black-shadow);
  }
  &_image-wrapper {
    width: 100%;
    padding-top: 75%;
    position: relative;
    img {
      border-radius: 3rem;
      overflow: hidden;
    }
  }
  &_kym {
    position: relative;
    width: calc(100% - (var(--space-md) * 2));
    margin: 0 auto var(--space-md);
    height: 8rem;
    background-color: var(--kym-blue);
    color: var(--white);
    padding: 0 var(--space-md);
    text-align: left;
    border-radius: var(--space-md);
    overflow: hidden;
    filter: var(--black-shadow);
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &_kym-logo {
    width: 50px;
    height: 50px;
    height: 100%;
    position: relative;
    float: right;
  }
  &_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-image: url('/doge-bitmap-bg.png');
    mix-blend-mode: multiply;
    background-repeat: repeat;
    display: none;
    opacity: 0;
  }
}

@media(--sm) {
  .doge-history {
    &_wrapper {
      width: 100%;
      padding: var(--space-md) calc(var(--space-lg) * 1.5 );
      grid-row-gap: var(--space-lg);
    }
    &_kym {
      position: relative;
      width: calc(100% - (var(--space-lg) * 4));
      margin: 0 auto 3rem;
      height: 8rem;
      background-color: var(--kym-blue);
      color: var(--white);
      padding: 0 3rem;
      text-align: left;
      border-radius: 2rem;
      overflow: hidden;
      filter: var(--black-shadow);
      font-size: 1.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

@media(--lg) {
  .doge-history {
    &_bg {
      display: block;
      opacity: 1;
    }
    &_wrapper {
      width: 100%;
      padding: var(--space-lg) var(--space-md);
      grid-row-gap: var(--space-lg);
    }
    &_module {
      &:nth-child(even) {
        transform: rotate(-.5deg) translateX(-1.5rem);
      }
      &:nth-child(odd) {
        transform: rotate(.5deg) translateX(1.5rem);
      }
    }
    &_kym {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      width: 20rem;
      height: 8rem;
      color: var(--white);
      padding: 0 2rem;
      text-align: left;
      border-radius: 2rem;
      font-size: 1.25rem;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      animation: fadeInUp 750ms var(--ease) 650ms;
      animation-fill-mode: both;
    }
    &_kym-logo {
      width: 22rem;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
    }
  }
}

@media(--xl) {
  .doge-history {
    h1 {
      margin: var(--space-lg) auto;
      text-align: center;
    }
    &_wrapper {
      width: 100%;
      padding: var(--space-lg) var(--space-md) var(--space-lg);
      grid-row-gap: var(--space-md);
    }
    &_module {
      &:nth-child(even) {
        transform: rotate(-1deg) translateX(-3rem);
      }
      &:nth-child(odd) {
        transform: rotate(1deg) translateX(3rem);
      }
    }
  }
}

@media(--hover) {
  .doge-history {
    &_kym {
      transition: transform 250ms var(--boing);
    }
    &_kym:hover {
      transform: rotate(-1deg);
    }
  }
}