.doge-home {
  &_wrapper,
  &_nav-wrapper,
  &_border {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  &_wrapper {
    padding: var(--space-sm);
  }
  &_nav-wrapper {
    display: grid;
    grid-row-gap: 6rem;
    padding: 3rem 0 6rem;
  }
  &_border {
    border: var(--border-width) solid var(--white);
    border-radius: var(--space-lg);
    animation: shadowColor 14000ms alternate infinite;
    z-index: 1000;
    pointer-events: none;
  }
  &_sidebar {
    position: relative;
    width: var(--sidebar);
    background-color: var(--white);
    border-radius: var(--space-md);
    animation: shadowColor 14000ms alternate infinite;
    display: flex;
    flex-direction: column;
    padding: var(--space-sm);
  }
  &_title {
    width: 100%;
    text-align: center;
    padding-top: var(--space-md);
    h1 {
      transform: rotate(-1deg);
    }
  }
  &_ui {
    position: relative;
    padding: var(--space-sm) 0;
  }
  &_history-button {
    transform: rotate(2deg) scale(0.95);
    transition: transform 250ms var(--boing);
    will-change: transform;
  }
  &_intro {
    padding: var(--space-md) 0;
    color: var(--blue);
  }
}

@media(--portrait) {
  .doge-home {
    &_border {
      display: none;
    }
  }
}

@media(--lg) {
  .doge-home {
    &_wrapper {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &_sidebar {
      position: fixed;
      top: var(--space-md);
      right: var(--space-md);
    }
    &_border,
    &_nav-wrapper {
      width: calc(100vw - (var(--sidebar) + (var(--space-md) * 3)));
      height: calc(100vh - (var(--space-md) * 2));
      position: fixed;
      top: var(--space-md);
      left: var(--space-md);
    }
    &_nav-wrapper {
      overflow-y: scroll;
      scroll-snap-type: y proximity;
      display: grid;
      grid-row-gap: 15%;
      padding: var(--gutter);
      grid-template-columns: 1fr;
      padding:  6% 5rem;
      &::-webkit-scrollbar {
        display: none;
      }
      &:after {
        content: '';
        width: 100%;
        position: relative;
        height: 2rem;
      }
    }
  }
}

@media(--xl) {
  .doge-home {
    &_sidebar {
      padding: var(--space-md) var(--space-sm) var(--space-lg);
    }
    &_nav-wrapper {
      grid-template-columns: 1fr 1fr;
      padding:  3rem;
      grid-row-gap: 5rem;
      grid-column-gap: 3rem;
    }
  } 
}

@media(--xxl) {
  .doge-home {
    &_nav-wrapper {
      grid-row-gap: 7rem;
      grid-column-gap: 5rem;
      &:after {
        height: 6rem;
      }
    }
  }
}

@media(--hover) {
  .doge-home {
    &_history-button:hover {
      transform: rotate(-2deg) scale(1);
    }
  }
}
