.paint-1-wrapper,
.paint-2-wrapper,
.paint-3-wrapper {
  position: fixed;
}
.paint-1-wrapper {
  width: 20vw;
  height: 50vh;
  transform: rotate(120deg);
  top: 0;
  left: 0;
}
.paint-2-wrapper {
  width: 20vw;
  height: 50vh;
  transform: rotate(-120deg);
  top: 0;
  right: 0;
}
.paint-3-wrapper {
  width: 20vw;
  height: 50vh;
  transform: rotate(-50deg);
  bottom: -20vh;
  right: 0;
}

.doge-bg,
#doge-gradient,
.strokes {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  display: block;
}

.strokes {
  z-index: 1;
}

@keyframes Float {
  from { 
    transform: translateX(210%) translateZ(0);
  }
  to {
    transform: translateX(-150%) translateZ(0);
  }
}

@keyframes FadeIn {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

#words {
  position: fixed;
  display: block;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  overflow: hidden;
  user-select: none;
  z-index: 10;
  pointer-events: none;
  font-size: 2rem;
  transform: translateZ(0);
}

@media(--mobile) {
  .strokes {
    background-image: url('../public/mobile-brushes-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    * {
      display: none;
    }
  }
}

@media(--lg) {
  #words {
    font-size: 2.5rem;
  }
  .paint-1-wrapper,
  .paint-2-wrapper,
  .paint-3-wrapper {
    filter: var(--light-shadow);
  }
}

@media(--xl) {
  #words {
    font-size: 2.5vmin;
  }
}

$duration: 200s;
$height: 10%;
$delay: ($duration / 6.5) * -1;

.word {
  position: absolute;
  width: 100%;
  height: 10vh;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: Float;
  z-index: 1;
  &:nth-child(1n) {
    color: rgb(226, 61, 10);
  }
  &:nth-child(2n) {
    color: rgb(158, 218, 118);
  }
  &:nth-child(3n) {
    color: rgb(49, 196, 176);
  }
  &:nth-child(4n) {
    color: rgb(230, 44, 236);
  }
  &:nth-child(5n) {
    color: rgb(233, 115, 184);
  }
}

.foreground {
  height: $height;
  min-height: 20px;
  z-index: 3;
}
.background {
  height: $height / 1.1;
  min-height: 8px;
  animation-duration: $duration * 1.75;
}

@for $i from 1 through 25 {
  .word:nth-child(#{$i}) { 
    animation-delay: ($delay * $i); 
    top: $i * 6%;
  }
  .word.foreground:nth-child(#{$i}) {
    animation-duration: ($duration - ($i * 4));
    height: ($height + ($i * 2.5));
  }
  .word.background:nth-child(#{$i}) {
    animation-duration: ($duration * 1.25 - ($i * 4));
    height: (($height / 1.1) - ($i * 1.25));
  }
}
