.doge-card {
  &_wrapper {
    position: relative;
    height: calc(var(--innerheight) / 1.75);
    min-height: 50rem;
    width: 100%;
    padding: var(--space-md);
    transition: transform 450ms var(--boing);
    will-change: transform;
    cursor: pointer;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  &_wrapper 
  &_wrapper-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &_image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3rem;
    overflow: hidden;
  }
  &_title {
    padding: 0 var(--space-md);
    height: var(--button-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc((var(--button-height) / 2) * -1);
    right: 3rem;
    z-index: 100;
    font-size: var(--text-02);
    border-radius: 50rem;
    background: blue;
    color: white;
    transition: all 350ms var(--ease);
    box-shadow:
      0 0 5px 0px blue,
      0 0 5px 5px #fff,
      0 0 7px 9px #f0f,
      0 0 10px 12px #0ff;
  }
}

@media(hover:hover) {
  .doge-card {
    &_wrapper:hover {
      transform: rotate(-2deg) scale(1.05);
      animation: shadowColor 250ms alternate-reverse infinite;
      z-index: 2000;
      .card-title {
        transform: rotate(2deg);
        box-shadow:
          0 0 10px 0px blue,
          0 0 20px 10px #fff,
          0 0 30px 30px #f0f,
          0 0 35px 50px #0ff;
      }
    }
  }
}
