.doge-footer {
  &_wrapper {
    padding: 1rem var(--space-md);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin: 0 auto var(--space-lg);
    background: var(--white);
    filter: var(--black-shadow);
    border-radius: var(--space-md);
    p {
      color: var(--black);
      font-family: var(--terminal-font);
      font-size: var(--terminal-size);
      line-height: 1.2;
    }
  }
  &_logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &_zora-branding {
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
  }
  &_kym-branding {
    width: 40px;
    height: 40px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &_blog-link {
    text-decoration: underline;
    color: var(--blue);
    font-size: var(--text-01);
    max-width: 30rem;
    margin: 0 auto var(--space-sm);
  }
}

@media(--portrait) {
  .hide-mobile {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (--sm) {
  .doge-footer {
    &_wrapper {
      width: calc(var(--sidebar) - (var(--space-lg) * 2));
    }
  }
}

@media (--md) {
  .doge-footer {
    &_wrapper {
      width: calc(var(--sidebar) - (var(--space-lg) * 4));
    }
  }
}

@media(--lg) {
  .doge-footer {
    &_wrapper {
      &.product {
        padding: 0 var(--space-md);
        width: 100%;
      }
      &.history {
        width: 100%;
        display: none;
      }
      &.index {
        margin: 0;
        width: var(--sidebar);
        position: fixed;
        bottom: var(--space-md);
        right: var(--space-md);
        animation: fadeInUp 750ms var(--ease) 650ms;
        animation-fill-mode: both;
      }
    }
  }
}

@media(--xxxl) {
  .doge-footer {
    &_wrapper {
      position: fixed;
      z-index: 100;
      bottom: 0;
      right: var(--space-md);
    }
  }
}

@media(--hover) {
  .doge-footer {
    &_wrapper a:hover {
      text-decoration: underline;
    }
  }
}
