.paint-1-wrapper,
.paint-2-wrapper,
.paint-3-wrapper {
  position: fixed;
}
.paint-1-wrapper {
  width: 20vw;
  height: 50vh;
  transform: rotate(120deg);
  top: 0;
  left: 0;
}
.paint-2-wrapper {
  width: 20vw;
  height: 50vh;
  transform: rotate(-120deg);
  top: 0;
  right: 0;
}
.paint-3-wrapper {
  width: 20vw;
  height: 50vh;
  transform: rotate(-50deg);
  bottom: -20vh;
  right: 0;
}
.doge-bg,
#doge-gradient,
.strokes {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
.strokes {
  z-index: 1;
}