.doge-nft {
  &_wrapper {
    width: 100%;
    z-index: 1200;
    position: relative;
    margin: 0 auto;
    max-width: 70rem;
    animation: fadeUp 250ms var(--ease) 700ms;
    animation-fill-mode: both;
    padding: var(--space-sm) var(--space-sm) var(--space-md);
  }
  &_title-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &_copy {
    width: 100%;
    line-height: 1.2;
    p {
      padding-bottom: var(--space-lg);
    }
  }
}

@media(--lg) {
  .doge-nft {
    &_wrapper {
      padding-top: var(--space-lg);
      padding-bottom: var(--space-lg);
    }
  }
}
