.doge-home {
  &_wrapper,
  &_nav-wrapper,
  &_border {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    animation-fill-mode: both;
  }
  &_wrapper {
    padding: var(--space-sm);
    opacity: 0;
    animation: fadeIn 750ms var(--ease) 450ms;
    animation-fill-mode: both;
  }
  &_nav-wrapper {
    display: grid;
    grid-row-gap: 6rem;
    padding: 3rem 0 6rem;
  }
  &_border {
    border: var(--border-width) solid var(--white);
    border-radius: var(--space-lg);
    animation: shadowColor 14000ms alternate infinite;
    z-index: 1000;
    pointer-events: none;
  }
  &_hero {
    width: 100%;
    position: relative;
    animation-fill-mode: both;
    padding-top: 73%;
  }
  &_hero-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_grid-item {
    width: 100%;
    position: relative;
    padding-top: 75%;
  }
  &_sidebar {
    position: relative;
    width: var(--sidebar);
    margin-left: var(--space-sm);
    margin-top: var(--space-sm);
    background-color: var(--white);
    border-radius: var(--space-md);
    animation: shadowColor 14000ms alternate infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-md) var(--space-sm) var(--space-sm);
  }
  &_title {
    width: 100%;
    text-align: center;
    padding-top: var(--space-md);
    h1 {
      transform: rotate(-1deg);
    }
  }
  &_ui {
    position: relative;
    padding: var(--space-sm) 0;
  }
  &_history-button {
    transform: rotate(2deg) scale(0.95);
    transition: transform 250ms var(--boing);
    will-change: transform;
  }
  &_intro {
    padding: var(--space-md) 0;
    color: var(--blue);
  }
}

@media(--portrait) {
  .doge-home {
    &_border {
      display: none;
    }
  }
}

@media(--lg) {
  .doge-home {
    &_wrapper {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &_hero {
      grid-column: span 2;
      grid-row: span 2;
    }
    &_left {
      animation: fadeIn 750ms var(--ease) 450ms;
      position: fixed;
    }
    &_sidebar {
      position: fixed;
      top: var(--space-md);
      right: var(--space-md);
      animation: fadeInRight 750ms var(--ease) 450ms;
      filter: var(--black-shadow);
      z-index: 10;
      animation-fill-mode: both;
      margin-left: 0;
      margin-top: 0;
    }
    &_border,
    &_nav-wrapper {
      width: calc(100vw - (var(--sidebar) + (var(--space-md) * 3)));
      height: calc(100vh - (var(--space-md) * 2));
      position: fixed;
      top: var(--space-md);
      left: var(--space-md);
      animation: shadowColor 11750ms var(--ease) alternate infinite;
      animation-fill-mode: both;
    }
    &_nav-wrapper {
      overflow-y: scroll;
      scroll-snap-type: y proximity;
      display: grid;
      grid-row-gap: 15%;
      padding: var(--gutter);
      grid-template-columns: 1fr;
      padding:  6% 5rem;
      border-radius: var(--space-lg);
      &::-webkit-scrollbar {
        display: none;
      }
      &:after {
        content: '';
        width: 100%;
        position: relative;
        height: 1rem;
        grid-column: span 2;
      }
    }
  }
}

@media(--xl) {
  .doge-home {
    &_sidebar {
      padding: var(--space-md) var(--space-sm) var(--space-sm);
    }
    &_nav-wrapper {
      grid-template-columns: 1fr 1fr;
      padding: 5rem 7rem 0;
      grid-row-gap: 7rem;
      grid-column-gap: 3.5rem;
    }
  } 
}

@media(--xxl) {
  .doge-home {
    &_hero {
      padding-top: 60%;
    }
    &_nav-wrapper {
      padding: 8rem 9rem 0;
      grid-row-gap: 10rem;
      grid-column-gap: 10rem;
      &:after {
        height: 1rem;
      }
    }
  }
}



@media(--hover) {
  .doge-home {
    &_history-button:hover {
      transform: rotate(-2deg) scale(1);
    }
  }
}
