@mixin lozengeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--color-border);
  background-color: var(--white);
  filter: var(--black-shadow);
  color: var(--blue);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  letter-spacing: 1px;
  font-size: var(--text-02);
  height: 5rem;
  padding-bottom: .2rem;
  border-radius: 50rem;
  text-transform: lowercase;
  padding-left: 2rem;
  padding-right: 2rem;
}
