.zora-logo {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background: radial-gradient( 75.29% 75.29% at 64.96% 24.36%, #dcc8d0 15.62%, #78c8cf 30.21%, #4d959e 42.71%, #305eb9 55.73%, #311f12 79.69%, #684232 90.62%, #2d1c13 100% );
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.zora-wordmark {
  margin-left: 2rem;
}

.zora-card {
  &_wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    border-radius: var(--card-radius);
    padding: var(--space-md);
    color: var(--white);
  }
}