@import 'reset';
@import 'animations';
@import 'doge-home';
@import 'doge-card';
@import 'doge-ui';
@import 'doge-nft';

@font-face {
  font-family: 'Comic Sans MS';
  src: url('/comic-sans-ms.ttf');
}

:root {
  /* COLORS ~ STYLE */
  --pink: pink;
  --red: red;
  --blue: #003CFF;
  --white: #FFFFFF;
  --border-width: 4px;
  --color-border: 2px solid var(--blue);
  --black-shadow: drop-shadow(0px 0px 5px rgba(0,0,0,.35));

  /* TYPOGRAPHY */
  --font: 'Comic Sans MS', arial;
  --text-01: 1.25rem;
  --text-02: 2rem;
  --text-03: 2.5rem;
  --text-04: 3rem;
  --text-05: 4rem;

  /* SPACING */
  --space-lg: 3.5rem;
  --space-md: 2.5rem;
  --space-sm: 1.5rem;
  --space-micro: calc(var(--space-sm) / 2);
  --gutter: var(--space-sm);

  /* LAYOUT */
  --sidebar: 100%;
  --innerheight: calc(100vh - (var(--space-md) * 2));
  --content-wrapper: calc(100vw - (var(--sidebar) + (var(--space-md) * 3)));
  --button-height: var(--space-lg);
  
  /* ANIMATION */
  --ease: cubic-bezier(0.7, 0, 0.3, 1);
  --boing: cubic-bezier(.3,1.64,.83,-0.18);
}

@media (--lg) {
  :root {
    --sidebar: 30rem;
    /* SPACING */
    --space-lg: 3.5rem;
    --space-md: 2.5rem;
    --space-sm: 1.5rem;
    /* TYPOGRAPHY
    --text-01: 1.25rem;
    --text-02: 2rem;
    --text-03: 2.5rem;
    --text-04: 3rem;
    --text-05: 4rem;
     */
  }
}

@media (--xl) {
  :root {
    --sidebar: 27rem;
    /* SPACING */
    --space-lg: 3.5rem;
    --space-md: 2.5rem;
    --space-sm: 1.5rem;
    /* TYPOGRAPHY */
    --text-01: 1.5rem;
    --text-02: 2.25rem;
    --text-03: 3rem;
    --text-04: 3.5vmin;
    --text-05: 5vmin;
  }
}

@media (--xxl) {
  :root {
    --sidebar: 30rem;
    /* SPACING */
    --space-lg: 5rem;
    --space-md: 3rem;
    --space-sm: 2rem;
  }
}

* {
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box; 
  outline: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 58%;
}

@media (--lg) {
  html {
    font-size: 62.5%;
  }
}

@media (--xl) {
  html {
    font-size: 64%;
  }
}

@media (--xxl) {
  html {
    font-size: 80%;
  }
}

body {
  font-size: 16px;
  font-family: var(--font);
}

// TYPEOGRAPHY
.text-01 {
  font-size: var(--text-01);
}
.text-02 {
  font-size: var(--text-02);
}
.text-03 {
  font-size: var(--text-03);
}
.text-04 {
  font-size: var(--text-04);
}

// EFFECT
.shadow {
  filter: var(--black-shadow);
}

// UI
.lozenge-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--color-border);
  background-color: var(--white);
  filter: var(--black-shadow);
  color: var(--blue);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  letter-spacing: 1px;
  font-size: var(--text-02);
  height: 5rem;
  padding-bottom: .2rem;
  border-radius: 50rem;
  text-transform: lowercase;
}

@media(hover:hover) {
  .lozenge-button:hover {
    color: var(--white);
    background: var(--blue);
  }
}

.title-pill,
.zora-fullTitle {
  font-family: var(--font);
  background-color: var(--white);
  display: inline-flex;
  margin-bottom: var(--space-lg);
  position: relative;
  font-size: var(--text-04);
  padding: 1.5vmin 3vmin 1.85vmin;
  text-transform: lowercase;
  border-radius: 50rem;
  border: 3px solid var(--red);
  color: var(--blue);
  animation: teeterAnimation 2000ms alternate inifinite;
  animation-fill-mode: both;
}

// STROKES
.paint-1 * {
  // fill: rgb(243, 243, 243);
  fill: beige
}
.paint-2 * {
  // fill: rgb(233, 233, 233);
  fill: pink;
}
.paint-3 * {
  // fill: rgb(214, 214, 214);
  fill: beige;
}


// ANIMATIONS
@keyframes shadowColor {
  0% {
    filter: drop-shadow(0 0 1.5rem yellow);
    border-color: white;
    background-color: red;
  }
  25% {
    filter: drop-shadow(0 0 0.75rem blue);
  }
  50% {
    filter: drop-shadow(0 0 0.75rem green);
  }
  75% {
    filter: drop-shadow(0 0 0.75rem orange);
  }
  100% {
    filter: drop-shadow(0 0 1.75rem red);
    border-color: yellow;
    background: green;
  }
}

@keyframes teeterAnimation {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

:root {
  --shadow-animation: shadowColor 2000ms alternate inifinite;
  --teeter-animation: teeter 2000ms alternate inifinite;
}

.shadow-animation {
  animation: shadowColor 2000ms alternate inifinite;
}

.teeter-animation {
  animation: teeter 2000ms alternate inifinite;
}

// NFT COMPONENT STYLING
.zora-fullTitle {
  display: none;
}
.zora-fullMediaWrapper {
  margin: 0 auto var(--space-lg)!important;
  filter: drop-shadow(0 0 0.75rem grey);
}
